.nav-link{
    color: #fff;
    font-size:large;
}

header{
    margin-bottom: 3%;
    background-color: #2b3a4a;
}

.navbar-brand{
    font-size:larger;;
}

main{
    padding-top: 7vh;
}

.scrollspy-example{
    align-items: center;
}

.card{
    margin-bottom: 2vh;
}

footer{
    background: rgb(71,70,97);
    background: linear-gradient(90deg, rgba(71,70,97,1) 0%, rgba(26,90,121,1) 100%);
    border-top-color: #286cb4;
    padding: 2vw;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}